

.thumbnail__section {
  position: relative;
  margin: 10px 25px;
  cursor: pointer;
}

.thumbnail--title p {
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.thumbnail--title {
  background-color: #000000ad;
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  text-align: center;
  width: 150px;
}

.thumbnail--active {
  border: 8px solid #8BC34A;
}